:root {
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D3;
  --basic-black: #000000;
  --basic-extra-blue: #81B3D2;
  --basic-grey: #333333;
  --basic-extra-grey: #EEEEEE;
  --basic-brown: #766357;
  --basic-light-grey: #888888;
  --special-gray: #ABABAB;
  --special-blue: #669EC0;
  --special-extra-blue: #5496BD;
  --special-brown: #604E43;
  --special-extra-brown: #503E33;
}

body {
  min-width: 1200px;
  margin: 40px;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 21px;
  line-height: 124%;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  background-position: center top;
  background-repeat: no-repeat;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
  column-count: 4;
}

.site-navigation-current {
  background-color: var(--basic-white);
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-white);
}

.main-header-logo {
  padding-left: 571px;
  padding-top: 0px;
}

.welcome {
  padding-top: 132, 35;
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  left: 40px;
  top: 55px;
  text-transform: uppercase;
  background-image: url("../img/backgroundphoto.jpg");
  background-repeat: no-repeat;
}

.feature-list {
  list-style: none;
  text-align: center;
}

.number {
  text-align: center;
}

.feature-item {
  column-count: 3;
  list-style: none;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.attraction {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-extra-grey);
  column-count: 3;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
}

.number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
}

.interest h3 {
  list-style: none;
  font-size: 30px;
  line-height: 24px;
}

.interest p {
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.modal {
  font-size: 14px;
  line-height: 26px;
}

.modal h2 {
  font-size: 21px;
  line-height: 26px;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-extra-blue);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--special-brown);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-brown);
}

.hotels-page {
  padding: 40px;
}

.page-hotels-container {
  font-size: 16px;
  line-height: 21px;
}

.filters {
  list-style: none;
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-position: 56px 40px;
  column-count: 3;
  font-size: 14px;
  line-height: 21px;
}

.filters h3 {
  font-size: 16px;
  line-height: 21px;
  padding: 72px;
}

.search h2 {
  font-size: 21px;
  line-height: 26px;
}

h4 {
  font-size: 21px;
  line-height: 26px;
}

.filters-sorting {
  font-size: 12px;
  line-height: 18px;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
}
